 
 
FIREBASE_API_KEY= #tus claves de firebases
FIREBASE_AUTH_DOMAIN= #tus claves de firebases
FIREBASE_PROJECT_ID= #tus claves de firebases
FIREBASE_STORAGE_BUCKET= #tus claves de firebases
FIREBASE_MESSAGING_SENDER_ID= #tus claves de firebases
FIREBASE_APP_ID= #tus claves de firebases
FIREBASE_MEASUREMENT_ID= #tus claves de firebases
JWT_SECRET_KEY= #tus claves de firebases
SESSION_SECRET_KEY = #tus claves de sesiones
PORT = #tu puerto